[Unit]
Description=uWSGI instance to serve cameraapi
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/raspberry/server
Environment="PATH=/raspberry/server/cameraapiserver/bin"
ExecStart=/raspberry/server/cameraapiserver/bin/uwsgi --ini cameraapi.ini
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
