[Unit]
Description=uWSGI instance to serve cameraapi
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/vagrant/server
Environment="PATH=/home/vagrant/server/cameraapiserver/bin"
ExecStart=/home/vagrant/server/cameraapiserver/bin/uwsgi --ini cameraapi.ini

[Install]
WantedBy=multi-user.target